# 담당 영역별 자동 리뷰어 지정 (프로젝트 계획서 담당표 기준)
# TODO: 각자 GitHub 아이디로 @자리 채우기
/shiftlink/agent/  @hyjuy
/shiftlink/data/   # 유현준 (임시, 필요시 재조정)
/shiftlink/rag/    @nalziori
/shiftlink/edge/   # 허재원
/eval/             # 전혜민
